body {
  margin: 5%
}

a:link {
  color: #666
}

a:visited {
  color: #000
}

.popup-container {
  min-width: 800px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.popup {
  height: 60px;
  background: #fff;
  display: block;
}

.popup span {
  position: relative;
  float: left;
  font-size: 40px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  content: "";
  display: block;
  text-align: center;
  color: #FFF;
}

.popup .youtube {
  background: #ec2727 url("../img/youtube.png") no-repeat 10px 10px;
}

.popup .discord {
  background: #7289DA url("../img/discord.png") no-repeat 10px 10px;
}

.popup .vk {
  background: #45668e url('../img/vk.png') no-repeat 10px 10px;
}

.popup .twitch {
  background: #6542a6 url("../img/twitch.png") no-repeat 10px 10px;
}

.popup .steam {
  background: #000 url("../img/steam.png") no-repeat 10px 10px;
}

.popup a {
  position: relative;
  height: 60px;
  float: left;
  color: #101010;
  padding-left: 10px;
  font-size: 30px;
  line-height: 60px;
  white-space: nowrap;
  font-family: 'Montserrat';
  color: #101010;
  text-indent: 0px;
}
